<p id="notice"><%= notice %></p>

<p>
<%= link_to "upvote", link_votes_path(@link, :value => 'up'), :method => :post %>	
<%= link_to @link.title, @link.url, :target => "_blank"%>
</p>

<%= form_for([@link, @link.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<ul>
	<% @comments.each do |comment| %>
		<li><%= comment.text %>
			<%= link_to "reply", link_comment_path(@link)%>
		</li>
	<% end %>	
</ul>	


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
